@-webkit-keyframes masuperanimation{
  0%{
    transform: translateX(0px);
  }
  100%{
    transform:translateX(150px) rotate(30deg);
  }
}
@keyframes masuperanimation{
  0%{
    transform: translateX(0px);
  }
  100%{
    transform:translateX(150px) rotate(30deg);
  }
}
div{
  margin:100px;
  width: 200px;
  height: 150px;
  background-color: #008;
}
div:hover
{
  animation:masuperanimation 3s;
  -webkit-animation:masuperanimation 3s ;
  -moz-animation:masuperanimation 3s ;
  -ms-animation: masuparanimation 3s;
}