   /* Animations */
* {margin:0; padding:0; font-size:1em; box-sizing:border-box;}
  /*  Animations remplissage du coeur*/
  body{
    display:flex;
    justify-content: center;
  }
  .liked{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:10px;
    width: 100%;
    height: auto;
  }
  svg{
    overflow:visible;
  }
  .icone_heart_1{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
   margin:10px;  
    }
.icone_heart_1:hover{
  cursor:pointer;
}
