.liked{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.icone_heart_1, .icone_heart_2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
    padding:25px;
    width:25px;
    height: 25px;
}
.heart_1{
  background-image:radial-gradient(circle at top, #FF79DA , #9356DC)
}
.icone_heart_2{
  /*blanc*/
 position:absolute;
  z-index: 1;
} 
 .icone_heart_1{
  /*lila*/
 position:absolute;
  z-index: 0; 
opacity:0
 }  
.icone_heart_2:hover  {
cursor:pointer; 
opacity:0;
  }
 .icone_heart_2:hover + .icone_heart_1 {
    opacity:1;
     }