.liked{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

 .icone_heart_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 25px;
    padding:25px;
    width:500px;
    height:500px;
    overflow:visible;
} 
 /* .heart_1 svg path{
fill:black ; 
 } */