@-webkit-keyframes masuperanimation{ /* Safari, Opera, Chrome */
0%{
	transform: translateX(0px);
}

50%{
	transform: translateX(150px);
}

100%{transform:TranslateX(150px) rotate(30deg);
	
}
}
@keyframes masuperanimation{ /* Tous les autres navigateurs */
0%{
	transform: translateX(0px);
}

50%{
	transform: translateX(150px);
}

100%{transform:TranslateX(150px) rotate(30deg);
	
}
}
div{
	margin:100px;
	width:200px;
	height:150px;
	background-color:#008;
}
div:hover
{
	-webkit-animation:masuperanimation 2s; /* Safari, Opera, Chrome */
	animation: masuperanimation 2s; /* tous les autres navigateurs*/
	}
}