-webkit@keyframes rotate-180 {
 from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-180deg);
  } 
}
@keyframes rotate-180 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
body {
  padding: 300px;
}
div{
  width: 200px;
  height: 150px;
  margin: 200px;
  background-color: yellow;
}
  div:hover{
-webkit-animation: rotate-180 1s ease;
-webkit-animation-fill-mode: forwards;
  animation: rotate-180 1s ease;
animation-fill-mode: forwards;
}