*{box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

.btn {
     border: none;
   color: #fff;
    border-radius: 2rem;
    width:100px;
    height: 100px;
    position: relative;
   z-index: 1; 
      background: radial-gradient(rgb(155, 89, 220) 0%, rgb(167, 127, 216) 33%, rgb(255, 121, 218) 100%);
  }
 .btn:hover .btn__bg {
   opacity:1;
   cursor:pointer;
 }
 
 .btn__bg{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: 0; 
   z-index: -1; 
   width:100px;
   height :100px;
   border: none;
   color: #fff;
    border-radius: 2rem;
    background: radial-gradient(rgb(168 110 224) 0%, rgb(180 147 222) 33%, rgb(255 147 225) 100%);
             transition: opacity 250ms; 
  }
 
 body {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 /* .btn {
   font-size: 64px;
   border: none;
   margin-bottom: 3rem;
   padding: 1rem 1rem;
   color: #fff;
   border-radius: 2rem;
   background: radial-gradient(rgb(155, 89, 220) 0%, rgb(167, 127, 216) 33%, rgb(255, 121, 218) 100%);
 }
 .btn:hover {
   background: linear-gradient(356deg, rgb(168 110 224) 0%, rgb(180 147 222) 33%, rgb(255 147 225) 100%);
 }
 
 body {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
 } */