   /* Animations */
   * {margin:0; padding:0; font-size:1em; box-sizing:border-box;}
  /*  Animations remplissage du coeur je t'aime sonrie*/
  body{
    display:flex;
    justify-content: center;
  }
  .liked{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
   margin:10px;   
   width: 90px;
   height: 90px;
  }
  .icone_heart_1{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
   margin:10px;  
   fill:white;
   stroke-width: 5px;
   stroke:black;
  width: 80px;
  height: 80px;
  }
    .icone_heart_1 svg {display:block; overflow:visible;}
    .svg_heart_1  :hover{
      cursor:pointer;}
  .svg_heart_1{fill:url(#gradientcolor)}  ; 