 * 
 {
 	box-sizing: border-box;	/* Opera/IE 8+ */
  -moz-box-sizing: border-box;  /*Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /*Safari/Chrome, autres WebKit */
 	font-family: 'Raleway', sans-serif,'Roboto','Shrikhand';
 	margin: 0;
 	padding: 0;
 }
 
 ul {
 	list-style-type: none;
 }
 h1{
	 font-size: 20px;
	 margin:1px;
	 text-align: center;
 }
 h2{
	font-size: 18px;
	margin:1px;
	text-align: center;
}
 	 .oh__my__food__page {
 		display: flex;
 		flex-wrap: wrap;
			background-color: rgb(242, 242, 242);
 	 	} 
 	.header__oh__my__food {
 		display: flex;
 		flex-wrap: wrap;
 			flex-direction: column;
 		align-items: center;
 		width: 100%; 
 	 	margin: 10px 10px 10px 10px;
		background-color:rgb(255, 255, 255);
  	}
 	#logo__oh__my__food {
 		display: flex;
 		flex-wrap: wrap;
justify-content: center;
 	width: 310px; 
	margin:auto;
		 		 	}

 #logo__oh__my__food img{
						display: flex;
						flex-wrap: wrap;
			   justify-content: center;
					width: 100%; 
					padding:1px;	
							 }

 	
 	.localisation {
 		display: flex;
 		flex-wrap: wrap;
 		justify-content: center;
 		align-items: center;
 background-color: rgb(230, 225, 225);
 	width: 100%;
	height: auto;
	margin:auto;
 	}
	 .localisation_plus_titre_ville{
		display:flex;
		flex-wrap: wrap;
		justify-content:center;
		align-items: center;
		width: 100%;
		height: 40px;
		margin:auto;
	}
 	.icone__localisation svg {
		display:flex;
width: 20px;
height: 20px;
 		fill: rgb(0, 0, 0);
		margin:2px;
 		padding: 2px;
  	}
.titre_ville{
	display:flex;
	flex-wrap: wrap;
	width: 240px;
	height: auto;
	justify-content: center;
	margin:1px;
}
.desc__oh__my__food__plus__bouton{
	flex-direction: column;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width:100%;
	height: auto;
	background-color: rgb(242, 242, 242);
}
	 .desc__oh__my__food{
		 display:flex;
		 flex-wrap: wrap;
		 justify-content: center;
	 }
 	/*
 	*Bouton explorez nos restaurants
 	*/
	.titres__boutons{
		display:flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}
	.sous__titres__boutons{
		display:flex;
		flex-wrap: wrap;
		justify-content: center;
		width:100%;
	}
	.sous__titres__boutons p{
		text-align: center;
	}
	/* bouton gradient-color*/
	.btn__bg__explorez:hover{
		cursor:pointer;
	}
	.btn__bg__explorez:hover::after {
			opacity:1;
	  }
 .btn__bg__explorez{
	width: 280px;
	height: 80px;
	border: none;
	color:rgb(255, 255, 255);
	font-weight:bold;
	font-size: 16px;
	position: relative;
	z-index: 1; 
	background: radial-gradient(circle at top left,
        rgb(255, 121, 218),rgb(147, 86, 220));
	border-radius: 40px;
	margin: 10px;	
}

.btn__bg__explorez::after{
	content:"";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0; 
	z-index: -1; 
	width: 280px;
	height: 80px;
	border: none;
	color: #fff;
	 border-radius: 40px; 
	 background: radial-gradient(circle at top left, 
	 rgb(255 147 225),rgb(168 110 224));
	 transition: opacity 0.3s; 
   }
  
/* bouton foncionnement option 1 2 3*/
.fonctionnement{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%; 
	height: auto;
	padding: 1px;
	margin: 1px;
	background-color:rgb(255, 255, 255);
}
	.titres__fonctionnement{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%; 
			}
.div__bouton__fnct{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				width: 100%; 
			}
.c__fonctionnement:nth-child(1), .c__fonctionnement:nth-child(2), .c__fonctionnement:nth-child(3){
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	width: 300px; 
	margin:3px;
	padding:3px;
}
.c__fonctionnement:nth-child(1) .optn, .c__fonctionnement:nth-child(2) .optn, .c__fonctionnement:nth-child(3) .optn{
	display: flex;
	flex-wrap: wrap;
	width: 30px;
	height: 30px;
	border-radius: 20px;
	color: rgb(255, 255, 255);
	background-color: rgb(147, 86, 220);
	padding: 5px 10px;
	position: relative;
	z-index: 1;
	top:30px;
	left:25px;
}
	.c__fonctionnement:nth-child(1) .bouton__fnct, .c__fonctionnement:nth-child(2) .bouton__fnct, .c__fonctionnement:nth-child(3) .bouton__fnct{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		background-color: rgb(242, 242, 242);
		box-shadow: 2px 2px 3px rgb(203, 203, 203);
		border-radius: 10px;
	width:250px;
	height: 90px;
		margin: 2px;
		padding:1px;
		position: relative;
		z-index: 0;
	}
	.c__fonctionnement:nth-child(1) .bouton__fnct p,.c__fonctionnement:nth-child(2) .bouton__fnct p,.c__fonctionnement:nth-child(3) .bouton__fnct p{
	text-align: center;
	}

	.c__fonctionnement.icone__fnct:nth-child(1) .icone__fnct, .c__fonctionnement:nth-child(2) .icone__fnct, .c__fonctionnement:nth-child(3) .icone__fnct{
		display: flex;
		flex-wrap: wrap;
		margin: 3px;
	}
	#icone_svg{
		width:20px;
		height: 20px;
	}
	
	.titres__fnct{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 3px;
			width:70%;
			}
	.c__fonctionnement:nth-child(1):hover .bouton__fnct{
				background-color: rgb(243,229,245);
				cursor:pointer;
				 }
	 .c__fonctionnement:nth-child(1):hover .bouton__fnct svg{
				   fill: rgb(147,86,220);
	 }
	 .c__fonctionnement:nth-child(2):hover .bouton__fnct{
		background-color: rgb(243,229,245);
		cursor:pointer;
		 }
.c__fonctionnement:nth-child(2):hover .bouton__fnct svg{
		   fill: rgb(147,86,220);
}
.c__fonctionnement:nth-child(3):hover .bouton__fnct{
	background-color: rgb(243,229,245);
	cursor:pointer;
	 }
.c__fonctionnement:nth-child(3):hover .bouton__fnct svg{
	   fill: rgb(147,86,220);
}
 	.menu__principal {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		width: 100%; 
			height: auto;
	}


 	 .c__restaurants a{
 	 	color: rgb(0, 0, 0);
 	 	text-decoration: none;
		display:inline-block;
		 	 }	
	.c__restaurants{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		width:100%;
		height: auto;
		background-color:rgb(242, 242, 242);
		padding: 2px;
		margin: 2px;
	}
	.titres__restaurants{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
			width:100%;
	}
	
.c__restaurants h2{
	width: 100%;
}	
	.container__restaurants{
		display:flex;
		flex-wrap: wrap;
		justify-content: center;
		width:100%;
		margin:1px;
	}

.cad__restaurants:nth-child(1) .restaurants, .cad__restaurants:nth-child(2) .restaurants, .cad__restaurants:nth-child(3) .restaurants, .cad__restaurants:nth-child(4) .restaurants{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width:280px;
	background-color: rgb(255, 255, 255);
	box-shadow:4px 4px 4px rgb(116,107,107);
	border-radius:20px;
	margin:4px;
	padding:1px;
 }
.image__restaurant{
display: flex;
flex-wrap: wrap;
width: 280px;
height: 200px;
position: relative;
z-index: 0;
bottom:0;
left:0;
top:0;
right: 0;
		}

.image__restaurant img{
	width: 100%;
	height: 100%;
	object-fit:cover ;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 2px;
}
.cad__restaurants:nth-child(1) .nouveau , .cad__restaurants:nth-child(2) .nouveau{
	display:flex;
	color: rgb(0, 128, 0);
	background-color: rgb(153, 226, 208);
	 position:relative;
	z-index: 1;
bottom:0;
left:195px;
top:-140px;
right: 0;
width:70px;
height: 20px;
}

.cad__restaurants:nth-child(3) .nouveau, .cad__restaurants:nth-child(4) .nouveau{
	opacity:0;
		width: 60px;
	color: rgb(0, 128, 0);
	background-color: rgb(153, 226, 208);
	 position:relative;
	z-index: 1;
bottom:0;
left:0;
top:0x;
right: 0;
width:70px;
height: 20px;
}
.desc__restaurants{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		width: 280px;
		padding:8px;
			}

.premier__desc{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: auto;
	margin:2px;
	}
	.desc__titre{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	width: 240px;
	height: 20px;
	font-weight: bold;
	font-size: 18px;
	}
	.sec_desc_plus_heart{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		width: 270px;
		height: 20px;
		margin:2px;
		padding:1px;
		}
.seconde__desc{
	display: flex;
	flex-wrap: wrap;
	width: 230px;
	height: auto;
}

.icone_hearts svg {
	overflow:visible;
  }
  .icone_hearts,.icone_hearts_1,.icone_hearts_2,.icone_hearts_3{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	margin:auto;
	padding:3px;
  	}
.icone_hearts,.icone_hearts_1,.icone_hearts_2,.icone_hearts_3:hover{
  cursor:pointer;
}
 	/**/
 	/*Footer*/
 	/**/
	 footer {
		display: flex;
		flex-wrap: wrap;
		background-color: rgb(0, 0, 0);
		padding: 10px;
		margin: 10px;
	width:100%;
	justify-content:space-around;
   color: rgb(255, 255, 255);
	}
	 .container__footer{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				width:100%;
				margin: 10px;
				padding: 10px;
						} 
.titre__footer{
	display:flex;
	flex-wrap: wrap;
justify-content: center;
justify-items: center;
width:100%;
}
 	footer a {
 		color: rgb(255, 255, 255);
		display:block;
 	}
footer p{
	color: rgb(255, 255, 255);
}
 	h3 {
 		font-weight: bold;
 		margin-bottom: 20px;
 		margin: 20px;
 		font-style: italic;
 		font-weight: bold;
 		font-family: Shrikhand;
 		font-size: 16px;
  	}
 	
 	.icone__footer{
 		display: flex;
 		flex-wrap: wrap;
 	}

.restaurant, .handshake, .mentions__legales, .contact{
	display: flex;
	flex-wrap: wrap;
	margin: 1px;
 		padding: 1px;
 		align-items: center;
}
.icone__restaurant,  .icone__handshake, .icone__mentions__legales, .icone__contact {
	display: flex;
	flex-wrap: wrap;
	width: 20px;
	height: auto;
	margin-right: 1px;	
	color: rgb(255, 255, 255);
}
.desc__restaurant, .desc__handshake, .desc__mentions__legales, .desc__contact {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	width: 200px;
	height: auto;
}

 /*
  *Version mobile/portable
  *
  ** Small devices (landscape phones, 576px and up) */
/*@media (max-width: 576px) {  
 
} */
 @media all and (max-width: 576px){

 	.oh__my__food__page{
		display:flex;
		flex-wrap: wrap;
		flex-direction: column;
	min-width:320px;
	}
		.cad__restaurants:nth-child(1), .cad__restaurants:nth-child(2), .cad__restaurants:nth-child(3), .cad__restaurants:nth-child(4){
		 display: flex;
		flex-wrap: wrap; 
					justify-content: center;
			align-items: center; 
		width:100%;
	height: auto;
		border-radius: 20px;
			}
	.footer__restaurant, .footer__handshake, .footer__mentions__legales, .footer__contact{
							display: flex;
							flex-wrap: wrap;
							 align-items: center;
								 width:100%;
								 height: 75px;
						}		
}
/* Media queries devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
/* (and small desktop 992px and up until 1299px) */
@media all and (min-width: 577px)  and (max-width:1299px){  
		.oh__my__food__page{
			display:flex;
			flex-wrap: wrap;
			min-width:577px;
		}
	.cad__restaurants:nth-child(1), .cad__restaurants:nth-child(2), .cad__restaurants:nth-child(3), .cad__restaurants:nth-child(4){
			 display: flex; 
			 flex-wrap: wrap;
						justify-content: center; 
					width: 50%;
					height: auto;
					border-radius: 20px;
			}
	
.footer__restaurant, .footer__handshake, .footer__mentions__legales, .footer__contact{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
			width:50%;
	}
	}  

/* } */
/**/
/* Version Ordinateur*/
/* Large devices (desktops, 1300px and up) */
/**/
/* */
@media all and (min-width: 1300px){ 
	.oh__my__food__page{
		display:flex;
		flex-wrap: wrap;
		min-width:1300px;
	}

.cad__restaurants:nth-child(1),.cad__restaurants:nth-child(2),.cad__restaurants:nth-child(3), .cad__restaurants:nth-child(4){
		display: flex;
		flex-wrap: wrap;
				justify-content: center; 
				width: 25%;
				height: auto;
				border-radius: 20px;
		}
	.footer__restaurant, .footer__handshake, .footer__mentions__legales, .footer__contact{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
		width:25%;
}
}  