 * 
 {
 	box-sizing: border-box;	/* Opera/IE 8+ */
  -moz-box-sizing: border-box;  /*Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /*Safari/Chrome, autres WebKit */
 	font-family: 'Raleway', sans-serif,'Roboto','Shrikhand';
 	margin: 0;
 	padding: 0;
 }
 
 ul {
 	list-style-type: none;
 }
 h1{
	 font-size: 20px;
	 margin:1px;
	 text-align: center;
 }
 h2{
	font-size: 18px;
	margin:1px;
	text-align: center;
}
 	.oh__my__food__page {
 		display: flex;
 		flex-wrap: wrap;
		justify-content: center;
 		width: 100%; 
		height: auto;
		background-color: rgb(242, 242, 242);
 	 	}
 	.header__oh__my__food {
 		display: flex;
 		flex-wrap: wrap;
 			flex-direction: column;
 		align-items: center;
 		width: 100%; 
 	 	margin: 10px 10px 10px 10px;
		background-color:rgb(255, 255, 255);
  	}
 	#logo__oh__my__food {
 		display: flex;
 		flex-wrap: wrap;
justify-content: center;
 	width: 310px; 
	margin:auto;
		 		 	}

 #logo__oh__my__food img{
						display: flex;
						flex-wrap: wrap;
			   justify-content: center;
					width: 100%; 
					padding:1px;				 }

 	
 	.localisation {
 		display: flex;
 		flex-wrap: wrap;
 		justify-content: center;
 		align-items: center;
 background-color: rgb(230, 225, 225);
 	width: 100%;
	height: auto;
	margin:auto;
 	}
	 .localisation_plus_titre_ville{
		display:flex;
		flex-wrap: wrap;
		justify-content:center;
		align-items: center;
		width: 100%;
		height: 40px;
		margin:auto;
	}
 	.icone__localisation svg {
		display:flex;
width: 20px;
height: 20px;
 		fill: rgb(0, 0, 0);
		margin:2px;
 		padding: 2px;
  	}
.titre_ville{
	display:flex;
	flex-wrap: wrap;
	width: 240px;
	height: auto;
	justify-content: center;
	margin:auto;
}
.desc__oh__my__food__plus__bouton{
	flex-direction: column;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width:100%;
	height: auto;
	background-color: rgb(242, 242, 242);
}
	 .desc__oh__my__food{
		 display:flex;
		 flex-wrap: wrap;
		 justify-content: center;
	 }
 	/*
 	*Bouton explorez nos restaurants
 	*/
	.titres__boutons{
		display:flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}
	.sous__titres__boutons{
		display:flex;
		flex-wrap: wrap;
		justify-content: center;
		width:100%;
	}
	.sous__titres__boutons p{
		text-align: center;
	}
 .explorez{
	width: 280px;
	height: 80px;
	border: none;
	color:rgb(255, 255, 255);
	font-weight:bold;
	font-size: 16px;
	background: radial-gradient(circle at top left,
        #FF79DA,#9356DC);
	border-radius: 40px;
	margin: 10px;	
}

.fonctionnement{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%; 
	height: auto;
	padding: 10px;
	margin: 10px;
	background-color:rgb(255, 255, 255);
}
	.titres__fonctionnement{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%; 
			}
			.div__bouton__fnct{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				width: 500px; 
			}
.c__fonctionnement{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%; 
}
.optn{
	display: flex;
	flex-wrap: wrap;
	width: 30px;
	height: 30px;
	border-radius: 20px;
	color: rgb(255, 255, 255);
	background-color: rgb(147, 86, 220);
	padding: 5px 10px;
	position: relative;
	z-index: 1;
	top:40px;
	left:25px;
}
	.bouton__fnct{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		background-color: rgb(242, 242, 242);
		box-shadow: 2px 2px 6px rgb(203, 203, 203);
		border-radius: 10px;
	width:300px;
	height: 90px;
		margin: 10px;
		position: relative;
		z-index: 0;
	}
	.bouton__fnct p{
	text-align: center;
	}

	.icone__fnct{
		display: flex;
		flex-wrap: wrap;
		margin: 3px;
	}
	#icone_iphone{
		width:20px;
		height: 20px;
	}
	#icone_list{
		width:20px;
		height: 20px;
	}
	#icone_store{
		width:20px;
		height: 20px;
			}
	.titres__fnct{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 3px;
			width:70%;
			}
			.bouton__fnct:hover {
				background-color: rgb(243,229,245);
				cursor:pointer;
				 }
				 .bouton__fnct:hover .icone__fcnt svg{
				   fill: rgb(147,86,220);
								}

								
 	.menu__principal {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		width: 100%; 
			height: auto;
	}


.c__restaurants h2{
 	 	width: 100%;
 	 }	
 	 .c__restaurants a{
 	 	color: rgb(0, 0, 0);
 	 	text-decoration: none;
 	 }	
	.c__restaurants{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		width:100%;
		height: auto;
		background-color:rgb(242, 242, 242);
		padding: 2px;
		margin: 2px;
	}
	.titres__restaurants{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
			width:100%;
	}
	.container__restaurants{
		display:flex;
		flex-wrap: wrap;
		width:100%;
		margin:1px;
	}
.restaurants{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width:280px;
	background-color: rgb(255, 255, 255);
	border-radius:20px;
	margin:10px;
}

.image__restaurant{
display: flex;
flex-wrap: wrap;
width: 280px;
height: 200px;
position: relative;
	z-index: 0;
	box-shadow:4px 4px 4px rgb(242, 242, 242);
		}

.image__restaurant img{
	width: 100%;
	height: 100%;
	object-fit:cover ;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 2px;
}
.nouveau1{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 60px;
	color: rgb(0, 128, 0);
	background-color: rgb(153, 226, 208);
	 position: relative;
	z-index: 1;
bottom:170px;
left:220px;
}
.desc__restaurants{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		width: 280px;
		margin: 6px;
		padding:8px;
			}

.premier__desc{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: auto;
	margin:2px;
	}
	.desc__titre{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	width: 240px;
	height: 20px;
	font-weight: bold;
	font-size: 18px;
	}
	.sec_desc_plus_heart{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 280px;
		height: 20px;
		margin:2px;
		padding:0 8px 0 0;
		}
.seconde__desc{
	display: flex;
	flex-wrap: wrap;
	width: 230px;
	height: auto;
}

.icone_hearts svg {
	overflow:visible;
  }
  .icone_hearts,.icone_hearts_1,.icone_hearts_2,.icone_hearts_3{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	margin:auto;
  	}
.icone_hearts,.icone_hearts_1,.icone_hearts_2,.icone_hearts_3:hover{
  cursor:pointer;
}

.nouveau2{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 60px;
	color: rgb(0, 128, 0);
	background-color: rgb(153, 226, 208);
	 position: relative;
	z-index: 1;
	bottom: 170px;
	left: 220px; 
}
.nouveau3{
	opacity: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 60px;
	color: rgb(0, 128, 0);
	background-color: rgb(153, 226, 208);
	 position: relative;
	z-index: 1;
	bottom: 170px;
	left: 220px; 
}
.nouveau4{
	opacity: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 60px;
	color: rgb(0, 128, 0);
	background-color: rgb(153, 226, 208);
 position: relative;
	z-index: 1;
	bottom: 170px;
	left: 220px; 
}
 	/**/
 	/*Footer*/
 	/**/
	 footer {
		display: flex;
		flex-wrap: wrap;
		background-color: rgb(0, 0, 0);
		padding: 10px;
		margin: 10px;
	width:100%;
	justify-content:space-around;
   color: rgb(255, 255, 255);
	}
	 .container__footer{
				display: flex;
				flex-wrap: wrap;
				width:100%;
				margin: 10px;
				padding: 10px;
						} 
.titre__footer{
	display:flex;
	flex-wrap: wrap;
justify-content: center;
justify-items: center;
width:100%;
}
 	footer a {
 		color: rgb(255, 255, 255);
 	}
footer p{
	color: rgb(255, 255, 255);
}
 	h3 {
 		font-weight: bold;
 		margin-bottom: 20px;
 		margin: 20px;
 		font-style: italic;
 		font-weight: bold;
 		font-family: Shrikhand;
 		font-size: 16px;
  	}
 	
 	.icone__footer{
 		display: flex;
 		flex-wrap: wrap;
 	}
/* .footer__restaurant, .footer__handshake, .footer__mentions__legales, .footer__contact{
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
 		padding: 10px;
 		align-items: center;
} */
.restaurant, .handshake, .mentions__legales, .contact{
	display: flex;
	flex-wrap: wrap;
	margin: 1px;
 		padding: 1px;
 		align-items: center;
}
.icone__restaurant,  .icone__handshake, .icone__mentions__legales, .icone__contact {
	display: flex;
	flex-wrap: wrap;
	width: 20px;
	height: 30px;
	margin-right: 1px;	
	color: rgb(255, 255, 255);
}
.desc__restaurant, .desc__handshake, .desc__mentions__legales, .desc__contact {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	width: 200px;
	height: 30px;
}

 /*
  *Version mobile/portable
  *
  ** Small devices (landscape phones, 576px and up) */
/* @media (max-width: 576px) {  
 
} */
@media all and (max-width: 576px){

 	

	.cad__restaurants{
		display: flex;
		flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		width:100%;
	height: auto;
		border-radius: 20px;
	margin: 10px;
padding: 10px;
			}
		
						.footer__restaurant, .footer__handshake, .footer__mentions__legales, .footer__contact{
							display: flex;
							flex-wrap: wrap;
							margin: 1px;
								 padding: 1px;
								 align-items: center;
								 width:100%;
						}		
}
/* Media queries devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media all and (min-width: 577px)  and (max-width:768px){  

	 .cad__restaurants{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
				width: 49%;
				border-radius: 20px;
				margin: 1px;
			padding: 1px;
		}

	
			  .footer__restaurant, .footer__handshake, .footer__mentions__legales, .footer__contact{
				display: flex;
				flex-wrap: wrap;
				margin: 1px;
					 padding: 1px;
					 align-items: center;
					 width:50%;
			}
}
/**/
/* Version Ordinateur*/
/* Large devices (desktops, 992px and up) */
/**/

@media all and (min-width: 769px) { 
	
.cad__restaurants{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
				width: 24%;
				border-radius: 20px;
				margin: 1px;
			padding: 1px;
		}

		.footer__restaurant, .footer__handshake, .footer__mentions__legales, .footer__contact{
	display: flex;
	flex-wrap: wrap;
	margin: 1px;
 		padding: 1px;
 		align-items: center;
		width:25%;
}
} 
