*{
  margin:0;
  padding:0;  
   box-sizing:border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
  }
h3{
     margin:1px;
    padding:1px; 
    width:100%;
}
body{
    display:flex;
}
.div_card{
   display:flex;
  flex-wrap:nowrap;
  flex-direction: column;
   justify-content: center;
   align-items:center;  
     width: 310px;
     height:95px;
     border: 2px solid #F2F2F2;
     background-color: #F2F2F2;
       margin:2px;
        border-radius:15px;
         position:absolute;
      z-index:0;
      overflow: hidden;
}
.titre_h3 {
  display:flex;
    width:310px;
     margin:1px;
  padding:3px; 

}
.titre_h3 p{
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;   
  margin:1px;
  padding:3px; 
  font-size: 20px;
  font-weight: bold;
}
.plats{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width:310px;
  margin:1px;
 } 
.desc_plats{
  display:flex;
  width:240px;
  margin:1px;
  padding:3px;
 }
.desc_plats p{
  text-overflow:ellipsis;
   overflow:hidden;
   white-space:nowrap;   
   margin:1px;
   padding:3px;  
}
.price{
  display:flex;
  flex-wrap: wrap;
  margin:3px;
  padding:2px;
}
.price p{
 width:40px; 
  text-align:right;
}
.div_validation{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
   position:absolute;
  z-index:1; 
  top:0px;
  bottom:0px;
  right:0px;
  left: 300px;  
  width:90px;
  height: 90px;
  opacity:0;
  overflow:hidden;
  margin:2px;
  padding:3px ;
}
.div_square{
  display:flex;
  flex-wrap: wrap;
  position:absolute;
  z-index:1; 
  top:0px;
  bottom:0px;
  right:0px;
  left: 0px;  
     width: 90px; 
     height:90px;
           margin:0px;  
     border-bottom-right-radius: 25px;
     border-top-right-radius: 25px; 
}
#svg_square{
  width: 90px; 
  height:90px;
  margin:0px;  
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px; 
}
.div_circle{
  display:flex;
  flex-wrap: wrap;
  position:absolute;
z-index:2; 
top:20px;
bottom:0px;
right:0px;
left: 20px;  
color:#99E2D0;
  width:40px;
  height: 40px;
  margin:0px;
  border-radius: 40px;
}
#svg_circleok{
 color:#99E2D0;
   width:40px;
   height: 40px;
   margin:0px;
   border-radius: 40px;
 }
 .plats:hover{
 cursor:pointer;
}
.plats:hover .titre_h3{
  -webkit-animation: anim-text 2s ease forwards; 
  animation: anim-text 2s ease forwards ;
} 
.plats:hover .desc_plats{
   -webkit-animation: anim-text 2s ease forwards; 
   animation: anim-text 2s ease forwards ;
} 
.plats:hover .price{
  -webkit-animation: tran 2s ease forwards; 
  animation: tran 2s ease forwards ;
}
.plats:hover + .div_validation {
  -webkit-animation: tran 2s ease forwards; 
  animation: tran 2s ease forwards ;
  opacity:1;
}  
.plats:hover + .div_validation >.div_circle{
  -webkit-animation: spin 2s ease forwards; 
  animation: spin 2s ease forwards ;
}
/* Rot de 360 deg circle-check font awesome*/
@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /*Translate Width Div validation sur l'axe X de 90px*/
  @-webkit-keyframes tran {
    0% { transform: translateX(0px); }
    100% { transform: translateX(-90px); }
  }
  @keyframes tran {
    0% { transform: translateX(0px); }
    100% { transform: translateX(-90px); }
  }
  /*Retrecir  Width du paragraph text de 260px a 190px*/
  @-webkit-keyframes anim-text {
    to{ width:190px;}
    }
  @keyframes anim-text {
    to{width:190px;}
     }  